<div class="x-d-flex x-justify-content-center x-justify-content-lg-space-evenly x-flex-wrap" style="padding: 0 44px; gap: 45px 16px;">
    @for (item of list; track item) {
        <div #zoomInElement>
            <div style="opacity: 0;" [@zoomInExpert]="{value: item.value, params: {duration: '0.8s', delay: item.delay}}">
                <div style="width: 340px; gap: 12px;" class="x-d-flex x-flex-column x-align-items-center">
                    <div class="big-rounded-field big-rounded-field-primary">
                        @switch (item.id) {
                            @case (1) {
                                <nz-icon nzType="environment" nzTheme="outline" />
                            }
                            @case (2) {
                                <nz-icon nzType="mail" nzTheme="outline" />
                            }
                            @case (3) {
                                <nz-icon nzType="phone" nzTheme="outline" />
                            }
                        }
                    </div>
                    <div class="font-xs-16 text-primary x-font-semiBold text-center">{{item.label}}</div>
                    <div class="text-center" [innerHTML]="item.data"></div>
                </div>
            </div>
        </div>
    }
</div>