
<nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
    <div class="container">
        <a class="navbar-brand mx-auto d-lg-none" href="index.html">
            <!-- Medic Care
            <strong class="d-block">Health Specialist</strong> -->
            <img [src]="imagesPath + 'logo/praxis-logo.png'" alt="" srcset="" width="210px">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="align-items-lg-center mx-auto navbar-nav">
                <li class="nav-item" [class.active]="activeSection === 'hero'">
                    <a class="nav-link" [routerLink]="['/home']" fragment="top">Home</a>
                </li>

                <li class="nav-item" [class.active]="activeSection === 'about'">
                    <a class="nav-link" [routerLink]="['/home']" fragment="about">Unsere Praxis</a>
                </li>

                <li class="nav-item" [class.active]="activeSection === 'timeline'">
                    <a class="nav-link" [routerLink]="['/home']" fragment="timeline">Leistungen</a>
                </li>

                <a class="navbar-brand d-none d-lg-block" href="index.html">
                    <!-- Medic Care
                    <strong class="d-block">Health Specialist</strong> -->
                    <img [src]="imagesPath + 'logo/praxis-logo.png'" alt="" srcset="" width="250px">
                </a>

                <li class="nav-item" [class.active]="activeSection === 'reviews'">
                    <a class="nav-link" [routerLink]="['/home']" fragment="reviews">Team</a>
                </li>

                <li class="nav-item" [class.active]="activeSection === 'booking'">
                    <a class="nav-link" [routerLink]="['/home']" fragment="booking">Kontakt</a>
                </li>

                <li class="nav-item" [class.active]="activeSection === 'contact'">
                    <a class="nav-link" [routerLink]="['/home']" fragment="contact">Anfahrt</a>
                </li>
            </ul>
        </div>

    </div>
</nav>