<section class="container section-padding">
    <h2 class="text-center mb-lg-5 mb-4">Kontakt</h2>
    
    <section style="padding: 50px 0px;">
        <div class="container">
            <contact-infos></contact-infos>
        </div>
    </section>

    
    <div class="fables-forth-text-color mb-5 font-xs-16" style="max-width: 1000px; margin: auto;">
        Für Terminanfragen rufen Sie bitte unter 0355 - 822006 an.<br/><br/>
        Für alle anderen Fragen und Wünsche benutzen Sie bitte unsere  <a class="x-link" href="mailto:mail@praxis-chosnis.de">{{'E-Mail'}}</a>.<br/><br/>

        Natürlich können Sie uns neben der oben genannten Telefonnummer auch unter unserer Postadresse erreichen:<br/>
        Arztpraxis Dr. Gabriel Chosnis<br/>
        Dr. Katherina Chosnis. FÄ für Dermatologie (nur private Leistung)<br/>
        Ärztehaus Nord<br/>
        G.-Hauptmann-Str. 15<br/>
        03044 Cottbus<br/><br/>

        Falls Sie unsere Praxis aufsuchen möchten, klick Sie auf <a class="x-link" [routerLink]="['/arrival']">{{'Anfahrt'}}</a>.<br/><br/>
        <a class="x-link" [routerLink]="['/impressum']">{{'Zu den Impressum-Zusatzangaben'}}</a>.<br/>
        <a class="x-link" [routerLink]="['/privacy_policy']">{{'Zur Datenschutzerklärung'}}</a>.<br/>

        
        <div class="mt-5">
            <figure class="reviews-thumb d-flex flex-wrap align-items-center"
                style="background: #fff;border: 2px solid var(--bs-blue);padding: 16px;">
                <div class="w-100 text-dark font-sm-16 mb-2" [innerHTML]="'In dringenden Fällen außerhalb der Sprechzeiten wenden Sie sich bitte an den <b>ärztlichen Bereitschaftsdienst unter der Telefonnummer 116 117</b> oder im Notfall an den <b>Rettungsdienst unter 112</b>.'"></div>
            </figure>
        </div>

    </div>


</section>