
<section class="hero nav-section" id="hero">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img [src]="imagesPath + 'clinic/clinic-004.jpg'" class="img-fluid" alt="">
                        </div>

                        <div class="carousel-item">
                            <img [src]="imagesPath + 'clinic/clinic-006.jpg'" class="img-fluid" alt="">
                        </div>

                        <div class="carousel-item">
                            <img [src]="imagesPath + 'clinic/clinic-007.jpg'" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <hero-card></hero-card>
            </div>

        </div>
    </div>
</section>