<section class="container section-padding">
    <h2 class="text-center mb-lg-5 mb-4">Datenschutzerklärung</h2>
    
    <!-- <section style="padding: 50px 0px;">
        <div class="container">
            <contact-infos></contact-infos>
        </div>
    </section> -->

    
    <div class="fables-forth-text-color mb-5 font-xs-16" style="max-width: 1000px; margin: auto;">
        <p class="font-xs-16">Wir beachten die gesetzlichen Bestimmungen des Datenschutzgesetzes (BDSG) des Telemediengesetzes (TMG) und anderer datenschutzrechtlicher Bestimmungen.</p>
        <p class="font-xs-16">Ihr Daten werden durch digitale Sicherheitssysteme verschlüsselt und an uns übertragen. Unsere Website ist durch technische Maßnahmen gegen Beschädigungen, Zerstörung oder unberechtigten Zugriff geschützt.</p>
        <h5>Gegenstand des Datenschutzes</h5>
        <p class="font-xs-16">Gegenstand des Datenschutzes sind personenbezogene Daten. Diese sind nach § 3 Abs. 1 BDSG Einzelangaben über persönlich oder sachliche Verhältnisse einer bestimmten oder bestimmbaren natürlichen Person. Hierunter fallen z. B. Angaben wie Name, Post-Adresse, E-Mail-Adresse oder Telefonnummer, ggf. aber auch Nutzungsdaten wie Ihre IP-Adresse.</p>
        <h5>Allgemeiner Datenschutzhinweis</h5>
        <p class="font-xs-16">(1) Wenn Sie unseren Internet-Auftritt aufrufen oder Daten von diesen Seiten herunterladen, werden hierüber Informationen von uns in einer Protokolldatei gespeichert und verarbeitet. Dieser Vorgang erfolgt anonymisiert. Rückschlüsse auf Ihre Person sind nicht möglich.</p>
        <p class="font-xs-16">(2) Gespeichert werden: Ihre IP-Adresse, das Datum und die Uhrzeit des Seitenaufrufs, die aufgerufene Seite bzw. der Name der abgerufenen Datei, die übertragene Datenmenge und die Meldung, ob der Zugriff/Abruf erfolgreich war.</p>
        <p class="font-xs-16">(3) Diese Daten werden nicht zu kommerziellen Zwecken genutzt. Eine Auswertung dient allein der Statistik und Verbesserung unseres Internet-Angebots. Benutzerprofile werden dabei nicht erstellt.</p>
        <p class="font-xs-16">(4) Ihre Daten werden ausschliesslich von uns verwendet. Eine Weitergabe an Dritte erfolgt nicht.</p>
        <p class="font-xs-16">(5) Auf dieser Website setzen wir keine Cookies ein.</p>
        <h5>Umfang der Datenerhebung und -speicherung</h5>
        <p class="font-xs-16">Im Allgemeinen ist es für die Nutzung unserer Internetsite nicht erforderlich, dass Sie personenbezogene Daten angeben. Damit wir Dienstleistungen (z.B. Terminvergabe) aber tatsächlich erbringen können, benötigen wir ggf. Ihre personenbezogenen Daten. Dies gilt auch bei der Zusendung von Informationsmaterial sowie auch für die Beantwortung individueller Anfragen.</p>
        <p class="font-xs-16">Wenn Sie uns mit der Erbringung einer derartigen Leistung beauftragen, erheben und speichern wir Ihre persönlichen Daten grundsätzlich nur, soweit es für die Erbringung der Leistung notwendig ist. Dazu kann es erforderlich sein, Ihre persönlichen Daten an Unternehmen weiterzugeben, die wir zur Erbringung benötigen. Dies sind z.B. Versandunternehmen. </p>
        <p class="font-xs-16">Sofern Sie nicht ausdrücklich einer darüber hinausgehende Datenverwendung zugestimmt haben oder Ihre Daten für die weitere medizinische Versorgung benötigt werden, werden diese Daten im Anschluss gelöscht.</p>
        <h5>Kontaktmöglichkeiten und Ihre Rechte</h5>
        <p class="font-xs-16">Als Betroffener haben Sie folgende Rechte:</p>
        <p class="font-xs-16">- gemäß Art. 15 DSGVO das Recht, in dem dort bezeichneten Umfang Auskunft über Ihre von uns verarbeiteten personenbezogenen Daten zu verlangen;</p>
        <p class="font-xs-16">- gemäß Art. 16 DSGVO das Recht, unverzüglich die Berichtigung unrichtiger oder Vervollständigung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen;</p>
        <p class="font-xs-16">- gemäß Art. 17 DSGVO das Recht, die Löschung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen, soweit nicht die weitere Verarbeitung:</p>
        <p class="font-xs-16">zur Ausübung des Rechts auf freie Meinungsäußerung und Information;<br>zur Erfüllung einer rechtlichen Verpflichtung;<br>aus Gründen des öffentlichen Interesses oder<br>zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist;</p>
        <p class="font-xs-16">- gemäß Art. 18 DSGVO das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen,</p>
        <p class="font-xs-16">soweit die Richtigkeit der Daten von Ihnen bestritten wird;<br>die Verarbeitung unrechtmäßig ist, Sie aber deren Löschung ablehnen;<br>wir die Daten nicht mehr benötigen, Sie diese jedoch zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigen oder<br>Sie gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung eingelegt haben;</p>
        <p class="font-xs-16">- gemäß Art. 20 DSGVO das Recht, Ihre personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesebaren Format zu erhalten oder die Übermittlung an einen anderen Verantwortlichen zu verlangen;</p>
        <p class="font-xs-16">- gemäß Art. 77 DSGVO das Recht, sich bei einer Aufsichtsbehörde zu beschweren. In der Regel können Sie sich hierfür an die Aufsichtsbehörde Ihres üblichen Aufenthaltsortes oder Arbeitsplatzes oder unseres Unternehmenssitzes wenden.
        </p>
        <p class="font-xs-16">Bei Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer personenbezogenen Daten, bei Auskünften, Berichtigung, Sperrung oder Löschung von Daten sowie Widerruf erteilter Einwilligungen oder Widerspruch gegen eine bestimmte Datenverwendung wenden Sie sich bitte direkt an uns über die Kontaktdaten in unserem <a class="x-link" [routerLink]="['/impressum']">{{'Impressum'}}</a>.</p>
        <!-- Für Terminanfragen rufen Sie bitte unter 0355 - 822006 an.<br/><br/>
        Für alle anderen Fragen und Wünsche benutzen Sie bitte unsere  <a class="x-link" href="mailto:mail@praxis-chosnis.de">{{'E-Mail'}}</a>.<br/><br/>

        Natürlich können Sie uns neben der oben genannten Telefonnummer auch unter unserer Postadresse erreichen:<br/>
        Arztpraxis Dr. Gabriel Chosnis<br/>
        Ärztehaus Nord<br/>
        G.-Hauptmann-Str. 15<br/> -->
        <!-- 03044 Cottbus<br/><br/>

        Falls Sie unsere Praxis aufsuchen möchten, klick Sie auf <a class="x-link" [routerLink]="['/arrival']">{{'Anfahrt'}}</a>.<br/><br/>
        <a class="x-link" [routerLink]="['/impressum']">{{'Zu den Impressum-Zusatzangaben'}}</a>.<br/>
        <a class="x-link" [routerLink]="['/privacy_policy']">{{'Zur Datenschutzerklärung'}}</a>.<br/> -->

    </div>

</section>