<section class="container section-padding">
    <h2 class="text-center mb-lg-5 mb-4">Impressum</h2>
    
    <!-- <section style="padding: 50px 0px;">
        <div class="container">
            <contact-infos></contact-infos>
        </div>
    </section> -->

    
    <div class="fables-forth-text-color mb-5 font-xs-16" style="max-width: 1000px; margin: auto;">
        <p class="font-xs-16">Pflichtangaben nach § 5 Telemediengesetz </p>
        <p class="font-xs-16">Verantwortlich für die Inhalte: Dr. Gabriel Chosnis</p>
        <p class="font-xs-16">Tel: 0355 - 822006</p>
        <p class="font-xs-16">
            <a class="x-link" href="mailto:mail@praxis-chosnis.de?subject=Nachricht von der Website">E-Mail Arztpraxis Chosnis</a>
        </p>
        <p class="font-xs-16">Berufsbezeichnung: Arzt (verliehen in der Bundesrepublik Deutschland) </p>
        <p class="font-xs-16">Zuständige Aufsichtsbehörde:</p>
        <ul class="dot-list">
            <li>Landesärztekammer Brandenburg, Dreifertstraße 12, 03044 Cottbus <br><a class="x-link" href="http://www.laekb.de" target="_blank">www.laekb.de</a></li>
            <li>Kassenärztliche Vereinigung Brandenburg, Gregor-Mendel-Straße 10/11, 14469 Potsdam, <a class="x-link" href="http://www.kvbb.de" target="_blank">www.kvbb.de</a></li>
            <li>Ministerium für Umwelt, Gesundheit und Verbraucherschutz<br>Heinrich-Mann-Allee 103, 14473 Potsdam, <a class="x-link" href="http://www.mugv.brandenburg.de" target="_blank">www.mugv.brandenburg.de</a></li>
        </ul>
        <p class="font-xs-16">Berufsrechtliche Regelungen für einen Arzt:
        </p>
        <ul class="dot-list">
            <li><a class="x-link" href="http://www.laekb.de/10arzt/60Arztrecht/05Verordnungen/index.html" target="_blank">Berufsordnung</a> der Landesärztekammer Brandenburg</li>
            <li><a class="x-link" href="http://www.bmg.bund.de/gesundheitssystem/gesundheitsberufe/approbationsordnung.html" target="_blank">Approbationsordnung für Ärzte</a></li>
            <li><a class="x-link" href="http://www.bravors.brandenburg.de/sixcms/detail.php?gsid=land_bb_bravors_01.c.46899.de" target="_blank">Heilberufsgesetz</a> Brandenburg</li>
            <li><a class="x-link" href="http://www.bundesaerztekammer.de/page.asp?his=1.108" target="_blank">Gebührenordnung</a> für Ärzte</li>
        </ul>
                                        
                                        
        <!-- Für Terminanfragen rufen Sie bitte unter 0355 - 822006 an.<br/><br/>
        Für alle anderen Fragen und Wünsche benutzen Sie bitte unsere  <a class="x-link" href="mailto:mail@praxis-chosnis.de">{{'E-Mail'}}</a>.<br/><br/>

        Natürlich können Sie uns neben der oben genannten Telefonnummer auch unter unserer Postadresse erreichen:<br/>
        Arztpraxis Dr. Gabriel Chosnis<br/>
        Ärztehaus Nord<br/>
        G.-Hauptmann-Str. 15<br/> -->
        <!-- 03044 Cottbus<br/><br/>

        Falls Sie unsere Praxis aufsuchen möchten, klick Sie auf <a class="x-link" [routerLink]="['/arrival']">{{'Anfahrt'}}</a>.<br/><br/>
        <a class="x-link" [routerLink]="['/impressum']">{{'Zu den Impressum-Zusatzangaben'}}</a>.<br/>
        <a class="x-link" [routerLink]="['/privacy_policy']">{{'Zur Datenschutzerklärung'}}</a>.<br/> -->

    </div>

</section>