<section class="container section-padding">
    <h2 class="text-center mb-lg-5 mb-4">Finden Sie unsere Praxis</h2>
    <div class="fables-forth-text-color mb-5 font-xs-16">
        Für unsere Patienten in Cottbus ist unsere Praxis mit der Straßenbahnlinie 4 über die Haltestelle Nordring erreichbar.<br/><br/>
        Mit dem PKW erreichen Sie uns per Google Map so.<br/>
        Parkplätze finden Sie vor dem Haus.

    </div>
    
    <section style="padding: 8px 0px;">
        <address-map></address-map>
    </section>

</section>