
<div class="owl-item">
    <figure class="reviews-thumb d-flex flex-wrap align-items-center"
        style="background: #fff;border: 2px solid var(--bs-blue);padding: 16px;">
    
        <p class="text-primary d-block mt-2 mb-0 w-100 font-lg-25"><strong>Aktuelles!</strong></p>
    
        <p class="reviews-text w-100 text-dark font-sm-18">
            Donec in elementum orci, nec posuere ligula. Quisque vulputate diam et ullamcorper ullamcorper. Pellentesque vestibulum neque at leo fermentum mattis.
        </p>
    
    
    </figure>
</div>