<section class="container section-padding">
    <h2 class="text-center mb-lg-5 mb-4">Praxisteam</h2>
    
    <section style="padding: 50px 0px;">
        <div class="container" #fadeElementInRight>
            <div class="row overflow-hidden"> 
                <div class="col-12 col-md-6 ps-0">
                    <div class="image-container translate-effect-right">
                        <img [src]="imagesPath + 'team/team-001.jpg'" alt="Fables Template" class="img-fluid">
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0 pe-0" [@fadeInRightExpert]="animateInRightState">
                    <h2 class="d-inline-block d-lg-block font-30 font-weight-bold my-4 text-primary">
                        Dr. Gabriel Chosnis
                        <div class="font-xs-16 text-dark">
                            Facharzt für Innere Medizin
                        </div>
                        <div class="font-xs-16 text-dark">
                            Hausarzt
                        </div>
                    </h2>
                    <div class="fables-vision-detail fables-forth-text-color wow fadeInRight font-xs-16" data-wow-duration="1.5s">
                        hat Medizin in Athen Griechenland studiert. <br/>

                        Seine Facharztweiterbildung hat in Athen absolviert. Er hat sich besonders mit Infektologie und Diabetologie beschäftigt. <br/><br/>

                        Seit 2013 war er am Carl-Thiem-Klinikum angestellt und hat vorher schon seit seinem Studium 13 Jahre in verschiedenen medizinischen Einrichtungen gearbeitet.<br/><br/>

                        Die Praxis Dr. Chosnis ist seit 01.04.2018  im Ärztehaus Nord, Gerhart-Hauptmann-Str. 15 in Cottbus tätig.
                        Die bisherige Praxis von Frau Sibille Strauss wurde zu diesem Zeitpunkt an ihren Nachfolger Dr. Chosnis übergeben.<br/><br/>
                        
                        Er spricht fließend Deutsch Griechisch Englisch und Arabisch.<br/>

                        Verheiratet und hat drei Kinder.

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="padding: 100px 0px 50px;">
        <div class="container" #fadeElementInLeft>
            <div class="row overflow-hidden"> 
                <div class="col-12 col-md-6 pe-0 order-1 order-md-0" [@fadeInLeftExpert]="animateInLeftState">
                    <h2 class="d-inline-block d-lg-block font-30 font-weight-bold my-4 text-primary">
                        Dr. Katharina Chosnis
                        <!-- <div class="font-xs-16 text-dark">
                            Facharzt für Innere Medizin
                        </div> -->
                        <div class="font-xs-16 text-dark">
                            Hautarzt
                        </div>
                    </h2>
                    <div class="fables-vision-detail fables-forth-text-color wow fadeInRight font-xs-16" data-wow-duration="1.5s">
                        ist in Athen Griechenland geboren und aufgewachsen. <br/>
                        Sie hat in Moskau Russland Medizin studiert. <br/>
                        Facharztweiterbildung in Athen. <br/>
                        MPH in Athen -öffentliches Gesundheitswesen <br/><br/>
                        Seit 2013 in Deutschland. <br/><br/>
                        Spricht fließend Deutsch Griechisch Russisch und Englisch.<br/>
                        Verheiratet und hat drei Kinder.<br/><br/>
                        Aktuell läuft ihre Facharztweiterbildung für Allgemeinmedizin.

                    </div>
                </div>
                <div class="col-12 col-md-6 ps-0 order-0 order-md-1 mt-4 mt-md-0">
                    <div class="image-container translate-effect-right">
                        <img [src]="imagesPath + 'team/team-002.jpg'" alt="Fables Template" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="padding: 100px 0px 50px;">
        <h2 class="font-30 font-weight-bold text-primary text-center">
            Medizinische Fachangestellte
        </h2>
        <div class="fables-forth-text-color mb-5 font-xs-16">
            Unser gut ausgebildetes Team bietet Ihnen in einem großzügigen, angenehmen und freundlichen Ambiente eine umfassende, qualitätsorientierte Behandlung beim Arzt, immer auf der Höhe der Zeit. Sie sollen sich bei uns wohl fühlen - und auch die Wartezeiten bei einem vereinbarten Termin haben wir durch gute Organisation im Griff.

        </div>
        <employees-section [employeesList]="employeesList"></employees-section>
    </section>
</section>