
<section class="section-padding nav-section">
    <div class="container">
        <div class="row">

            <h2 class="text-center mb-lg-5 mb-4">Leistungen</h2>
            
            <div class="timeline">
                <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                    <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                        <h3 class="text-light" [ngClass]="{'font-18': ws.mobile}">Behandlungsspektrum</h3>
                        <p>Diabetes Melptus - Ernährung, Schulung</p>
                            <p>Koronare Herzkrankheiten</p>
                            <p>Hypertonie - Schulung</p>
                            <p>Infektionen</p>
                            <p>Impfungen</p>
                            <p>psychosomatische Grundversorgung</p>
                    </div>

                    <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                        <i class="bi bi-virus timeline-icon"></i>
                    </div>

                    <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4">
                    </div>
                </div>

                <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                    <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                        <h3 class=" text-light" [ngClass]="{'font-18': ws.mobile}">Diagnose</h3>
                        <p>Blutentnahme</p>
                        <p>EKG und Belastungs-EKG</p>
                        <p>Langzeit-EKG</p>
                        <p>Langzeit-Blutdruck</p>
                        <p>Ergometrie</p>
                        <p>Spirometrie, Lungenfunktionsdiagnostik</p>
                        <p>Hautkrebs-Screening</p>
                        <p>Ultraschalluntersuchung der Bauchorgane und der Schilddrüse</p>
                    </div>

                    <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                        <!-- <i class="bi-book timeline-icon"></i> -->
                        <!-- <i class="bi bi-activity timeline-icon"></i> -->
                        <!-- <i class="bi bi-heart-pulse timeline-icon"></i> -->
                        <i class="bi bi-heart-pulse-fill timeline-icon"></i>
                    </div>

                    <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4">
                    </div>
                </div>
                <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                    <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                        <h3 class="text-light"
                            [ngClass]="{'font-18': ws.mobile}">
                            DMP und dazugehörige Beratung/Schulung für:
                        </h3>
                        <p>Diabetes mellitus Typ 2</p>
                        <p>KHK</p>
                    </div>

                    <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                        <!-- <i class="bi-globe timeline-icon"></i> -->
                        <i class="timeline-icon">
                            <div style="font-family: bootstrap-icons!important;line-height: 1;display: inline;">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 576 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M224 24l0 56-56 0c-13.3 0-24 10.7-24 24l0 48c0 13.3 10.7 24 24 24l56 0 0 56c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-56 56 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24l-56 0 0-56c0-13.3-10.7-24-24-24L248 0c-13.3 0-24 10.7-24 24zM559.7 392.2c17.8-13.1 21.6-38.1 8.5-55.9s-38.1-21.6-55.9-8.5L392.6 416 272 416c-8.8 0-16-7.2-16-16s7.2-16 16-16l16 0 64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0-16 0-78.3 0c-29.1 0-57.3 9.9-80 28L68.8 384 32 384c-17.7 0-32 14.3-32 32l0 64c0 17.7 14.3 32 32 32l160 0 160.5 0c29 0 57.3-9.3 80.7-26.5l126.6-93.3zm-367-8.2l.9 0c0 0 0 0 0 0c-.3 0-.6 0-.9 0z"></path></svg>
                                <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em"><title>needle</title><path fill="currentColor" d="M11.15,15.18L9.73,13.77L11.15,12.35L12.56,13.77L13.97,12.35L12.56,10.94L13.97,9.53L15.39,10.94L16.8,9.53L13.97,6.7L6.9,13.77L9.73,16.6L11.15,15.18M3.08,19L6.2,15.89L4.08,13.77L13.97,3.87L16.1,6L17.5,4.58L16.1,3.16L17.5,1.75L21.75,6L20.34,7.4L18.92,6L17.5,7.4L19.63,9.53L9.73,19.42L7.61,17.3L3.08,21.84V19Z" /></svg> -->
                            </div>
                        </i>
                    </div>

                    <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4">
                    </div>
                </div>
                
                <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                    <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                        <h3 class=" text-light" [ngClass]="{'font-18': ws.mobile}">Vorsorgeleistungen</h3>
                        <p>Impfungen</p>
                        <p>Gesundheitsvorsorge</p>
                        <p>Krebsvorsorge</p>
                    </div>
                    
                    <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                        <!-- <i class="bi-file-medical timeline-icon"></i> -->
                        <i class="timeline-icon">
                            <div style="font-family: bootstrap-icons!important;line-height: 1;display: inline;">
                                <!-- <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 576 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M224 24l0 56-56 0c-13.3 0-24 10.7-24 24l0 48c0 13.3 10.7 24 24 24l56 0 0 56c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-56 56 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24l-56 0 0-56c0-13.3-10.7-24-24-24L248 0c-13.3 0-24 10.7-24 24zM559.7 392.2c17.8-13.1 21.6-38.1 8.5-55.9s-38.1-21.6-55.9-8.5L392.6 416 272 416c-8.8 0-16-7.2-16-16s7.2-16 16-16l16 0 64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0-16 0-78.3 0c-29.1 0-57.3 9.9-80 28L68.8 384 32 384c-17.7 0-32 14.3-32 32l0 64c0 17.7 14.3 32 32 32l160 0 160.5 0c29 0 57.3-9.3 80.7-26.5l126.6-93.3zm-367-8.2l.9 0c0 0 0 0 0 0c-.3 0-.6 0-.9 0z"></path></svg> -->
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em"><title>needle</title><path fill="currentColor" d="M11.15,15.18L9.73,13.77L11.15,12.35L12.56,13.77L13.97,12.35L12.56,10.94L13.97,9.53L15.39,10.94L16.8,9.53L13.97,6.7L6.9,13.77L9.73,16.6L11.15,15.18M3.08,19L6.2,15.89L4.08,13.77L13.97,3.87L16.1,6L17.5,4.58L16.1,3.16L17.5,1.75L21.75,6L20.34,7.4L18.92,6L17.5,7.4L19.63,9.53L9.73,19.42L7.61,17.3L3.08,21.84V19Z" /></svg>
                            </div>
                        </i>
                    </div>
                    
                    <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4">
                    </div>
                </div>

<!-- 
                <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                    <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                        <h3 class=" text-light">Freelance Nursing</h3>

                        <p>If you need a working contact form that submits email to your inbox, please <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">visit our contact page</a> for more information.</p>
                    </div>

                    <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                        <i class="bi-person timeline-icon"></i>
                    </div>

                    <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                        <time>2021-05-18 Tuesday</time>
                    </div>
                </div> -->
            </div>

        </div>
    </div>
</section>